<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Main block title{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link {% if active=='main' %}active{% endif %}" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/books/" class="nav-link {% if active=='books' %}active{% endif %}">Books</a></li>
            <li class="nav-item"><a href="/authors/" class="nav-link {% if active=='authors' %}active{% endif %}">Authors</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
    </header>

    {% block body %}
    {% endblock %}
</div>
</body>
</html>